<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
<h1>Bạn đã được cấp tài khoản!</h1>
<p >Chào mừng <span th:text="${user_data.get().getName()}"></span> đến với NCC</p>

<p>
    Gio làm việc của bạn bắt đầu từ:
    <span th:text="${work_time.getCheckinWork()}">Default message</span> Đến
    <span th:text="${work_time.getCheckoutWork()}">Default message</span>
</p>
<p>
    <span> Mã check in của bạn là: </span>
    <span th:text="${work_time.getCheckinCode()}">Default message</span>
</p>


</body>
</html>