<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
<h1>You have been granted an account!</h1>
<p >Welcome <span th:text="${user_data.get().getName()}"></span> to NCC</p>

<p>
    Your working time is from:
    <span th:text="${work_time.getCheckinWork()}">Default message</span> to
    <span th:text="${work_time.getCheckoutWork()}">Default message</span>
</p>
<p>
    <span> Your CheckIn code: </span>
    <span th:text="${user_data.get().getCheckinCode()}">Default message</span>
</p>


</body>
</html>